<%- contentFor('continut')%>


<div class="post">
    <img src="imagini/covid.jpg" alt="" class="post_image">
    <div class="post_preview">
        <h2><a href="/covid" style="text-decoration: none; color: white;">Cum te afecteaza COVID-19 pe termen lung?</a></h2>
        <br>
        <p class="preview_text" style="text-decoration: none; color:white;">
            Functia respiratorie este prima afectata de noul coronavirus. Din nefericire, chiar si dupa vindecare, pacientii se mai confrunta cu probleme din acest punct de vedere. In multe din cazuri, functai respiratorie ramene diminuata, iar aparatul respirator nu beneficiaza de o vindecare completa, pacientii ramanand cu sechele.
        </p>
        <a href="/covid" class="button read_more">Citeste mai mult</a>
    </div>
</div>

<div class="post">
    <img src="imagini/masca1.jpg" alt="" class="post_image">
    <div class="post_preview">
        <h2><a href="/covid1" style="text-decoration: none; color: white;">Coronavirus si infectia COVID-19</a></h2>
        <br>
        <p class="preview_text" style="text-decoration: none; color:white;">
           Coronavirusurile sunt o familie numeroasa de virusuri care pot provoca boli la animale si oameni. La om provoaca infectii respiratorii, de la raceala comuna la boli mai severe, cum ar fi Sindromul respirator din Orientul Mijlociu (MERS) si Sindromul respirator acut sever (SARS). Cel mai recent coronavirus descoperit provoaca boala COVID-19.
        </p>
        <a href="/covid1" class="button read_more">Citeste mai mult</a>
    </div>
</div>

<div class="post">
    <img src="imagini/raceala.jpg" alt="" class="post_image">
    <div class="post_preview">
        <h2><a href="/flu" style="text-decoration: none; color: white;">Care este diferenta intre raceala si gripa?</a></h2>
        <br>
        <p class="preview_text" style="text-decoration: none; color:white;" >
            Gripa si raceala sunt ambele boli respiratorii, dar sunt cauzate de virusi diferiti. Deoarece aceste doua tipuri de boli au simptome asemanatoare poate fi dificil sa se spuna diferenta dintre ele numai pe baza simptomelor. In general, gripa este mai rea decat raceala obisnuita, iar simptomele sunt mai intense. Racelile sunt de obicei mai usoare decat gripa.
        </p>
        <a href="/flu" class="button read_more">Citeste mai mult</a>
    </div>
</div>

<div class="post">
    <img src="imagini/seama.jpg" alt="" class="post_image">
    <div class="post_preview">
        <h2><a href="/seama" style="text-decoration: none; color: white;">Raceala, gripa sau coronavirus?</a></h2>
        <br>
        <p class="preview_text" style="text-decoration: none; color:white;">
            In aceasta perioada este foarte dificil sa faci diferenta intre principalele 3 amenintari legate de sanatatea ta, toate la fel de contagioase: raceala, gripa si infectia cu noul coronavirus. Cu toate acestea, exista cateva diferente esentiale, care iti arata ce tip de infectie poti avea. 
        </p>
        <a href="/seama" class="button read_more">Citeste mai mult</a>
    </div>
</div>

