<%- contentFor('continut')%>

<div class="article">

    
    
    <div class="text">
        <p> &nbsp; &nbsp; Link proiect: <a href="https://github.com/AlexZbereanu/Proiect_AI.git" style="text-decoration: none; color:"> GitHub</a> </p>
        
    </div>
</div>