<%- contentFor('continut')%>

<div class="article">

    
    <img src="imagini/covid.jpg" alt="" class="post_image">
    <div class="text">
        
        <h2 style="text-decoration: none; color: white;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Cum te afecteaza COVID-19 pe termen lung?</h2>
        <p>
            <br>
                &nbsp; &nbsp;   Functia respiratorie este prima afectata de noul coronavirus. Din nefericire, chiar si dupa vindecare, pacientii inca se confrunta cu probleme din acest punct de vedere. In multe din cazuri, functia respiratorie ramane diminuata, iar aparatul respirator nu beneficiaza de o vindecare completa, pacientii ramanand cu sechele. 
                Acestia pot resimti in continuare dificultati in respiartie si pot observa faptul ca obosesc foarte repede la efort minim. De asemenea, tusea poate sa ramana si ea prezenta pentru o perioada de cateva luni de la vindecarea de boala.
            O solutie eficienta din acest punct de vedere pot fi exercitiile de respiratie specifice recuperarii medicale si kinetoterapiei. In cadrul sedintelor, pacientul va face exercitii care sa ajute la imbunatatirea functiei respiratorii.
            Iti recomandam sa apelezi la ajutor de specialitate, pentru a putea trece cu bine peste aceasta perioada si pentru a putea elimina efectele neplacute ale COVID-19 asupra starii tale generale de sanatate.
            <br>
            <br>
            <br>
            
            <h4>Cu ce probleme poti ramane in urma bolii?</h4>
            <br>
            1. Probleme la nivelul musculaturii
            <br>&nbsp; &nbsp;&nbsp; &nbsp;Durerile musculare sunt un simptom al COVID-19, care produce o mare stare de disconfort. Din nefericire, acest simptom continua sa se manifeste si dupa vindecarea de boala, sub forma de slabiciune musculara. Nu se cunoaste pana in prezent care este intervalul de timp post COVID-19 pana la care pacientii pot resimti aceste slabiciuni musculare.
            Pentru a imbunatati capacitatea de functionare a muschilor, poti apela tot la ajutorul de specialitate: recuperare medicala si kinetoterapie.
            
            <br>
            <br>
            2. Insomnii si anxietate
            <br>
            &nbsp; &nbsp;&nbsp; &nbsp;O parte din pacientii care s-au recuperat dupa COVID-19 experimenteaza episoade de anxietate si insomnie. Daca nu sufereai de aceste afectiuni inainte, cel mai probabil infectarea SARS-CoV-2 le-a declansat. Anxietatea si insomnia se pot intinde pe o perioada de catevva luni de la iesirea din boala.
            <br>
            &nbsp; &nbsp;&nbsp; &nbsp;Anxietatea poate capata diferite forme, de la tulburare de panica pana la tulburare generala de anxietate si poate produce o stare mare de disconfort. este foarte important ca anxietatea sa fie tratata, pentru a nu duce la diferite complicatii, pe termen lung.
            Insomnia este tot un efect al infectarii cu noul coronavirus. Sunt pacienti care mentioneaza faptul ca le este imposibil sa adoarma noaptea, de frica sa nu li se intample ceva rau. Oboseala si ingrijorarea sunt simptome asociate insomniei. Daca nu este tratata, insomnia poate duce inclusiv la afectiuni neurologice.
        </p>
    </div>
</div>
