<%- contentFor('continut')%>


<div class="article">

    
    <img src="imagini/masca1.jpg" alt="" class="post_image">
    <div class="text">
        
        <h2 style="text-decoration: none; color: white;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coronavirus si infectia COVID-19</h2>
        <p>
            <br>
            Coronavirusurile sunt o familie numeroasa de virusuri care pot provoca boli la animale sau oameni. la om provoaca infectii respiratorii, de la raceala comuna la boli mai severe, cum ar fi Sindromul respirator din Orientul Mijlociu (MERS) si Sindromul respirator acut sever (SARS). Cel mai recent coronavirus descoperit provoaca boala COVID-19.
            <br>
            <br>
            <h4>Ce este COVID-19?</h4>
    
            COVID-19 este boala infectioasa cauzata de coronavirusul cel mai recent descoperit. Acest nou virus si aceasta boala nu au fost cunoscute inainte de aparitia focarului in Wuhan, China, in decembrie 2019.
            <br>
            <br>
            <br>
            <br>
            <h4>Care sunt simptomele COVID-19?</h4>
            
            Cele mai frecvente simptome ale COVID-19 sunt febra, oboseala si tusea uscata. Unii pacienti ar mai putea sa aiba dureri de cap, congestie nazala, dureri in gat sau diaree. Aceste simptome sunt de obicei usoare, cu debut treptat. Unele persoane se infecteaza, dar nu dezvolta niciun simptom si nu se simt rau. Majoritatea oamenilor se recupereaza fara a avea nevoie de tratament special. Aproximativ 1 din fiecare 6 persoane care sufera de COVID-19 devine grav bolnava si prezinta dificultati de respiratie. Persoanele in varsta, precum si cele cu probleme medicale subiacente, cum ar fi hipertensiunea arteriala, probleme cardiace sau diabet, sunt mai susceptibile sa dezvolte o forma grava. Aproximativ 2% dintre persoanele suferinde de aceasta boala au murit. Persoanele cu febra, tuse si dificultati in respiratie trebuie sa solicite asistenta medicala.
            <br>
            <br>
            <h4>Cum se raspandeste COVID-19?</h4>
            
            Oamenii se pot imbolnavi de COVID-19 de la altii care au virusul. Boala paote fi transmisa de la o persoana la alta prin secretii sub forma de picaturi mici, care sunt raspandite atunci cand persoana infectata tuseste sau stranuta. Aceste picaturi se aseaza pe obiectele si suprafetele din jur. Alte persoane se imbolnavesc de COVID-19 atingand aceste obiecte sau suprafete, apoi atingandu-si ochii, nasul sau gura. Oamenii pot, de asemenea, sa se imbolnaveasca de COVID-19 daca respira direct secretiile raspandite de o persoana infectata care tuseste sau stranuta.  
            <br>
            <br>
            <h4>COVID-19 poate fi transmisa de o persoana care nu are simptome?</h4>
            
            Principala modalitate de raspandire a bolii este prin picaturi expulzate de cineva care tuseste sau stranuta. Riscul de infectie COVID-19 de la cineva care nu prezinta nici un fel de simptome este foarte mic. Multe persoane bolnave de COVID-19 prezinta doar simptome usoare. Acest lucru este valabil in special in primele etape ale bolii. Prin urmare, este posibila imbolnavirea de COVID-19 de la cineva care are, de exemplu, doar o tuse usoara fara sa se simta rau.
            <br>
            <br>
            <h4>Cine risca sa dezvolte forme severe ale bolii?</h4>
            
            Inca se strang informatii despre modul in care COVID-19 afecteaza oamenii. Persoanele in varsta si persoanele cu afectiuni medicale preexistente (hipertensiune arteriala, boli de inima sau diabet) par sa dezvolte o forma grava de boala, mai des decat celelalte categorii.
        
        </p>
    </div>
</div>