<%- contentFor('continut')%>

<div class="article">

    
    <img src="imagini/raceala.jpg" alt="" class="post_image">
    <div class="text">
        
        <h2 style="text-decoration: none; color: white;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Care este diferenta intre raceala si gripa?</h2>
        
        <p>
            <br>
            &nbsp; &nbsp;&nbsp; &nbsp;Gripa si raceala sunt ambele boli respiratorii, dar sunt cauzate de virusi diferiti. Deoarece aceste doua tipuri de boli au simptome asemanatoare poate fi dificil sa se spuna diferenta dintre ele numai pe baza simptomelor. In general, gripa este mai rea decat raceala obisnuita, iar simptomele sunt mai intense. Racelile sunt de obicei mai usoare decat gripa. Racelile nu duc la probleme grave de sanatate, cum ar fi pneumonia, infectii bacteriene sau spitalizari. Gripa poate avea complicatii asociate foarte grave.

            <br>
            <br>
            <h4>Cum va puteti da seama de diferenta dintre raceala si gripa?</h4>
            &nbsp; &nbsp;Deoarece racelile si gripa impartasesc multe simptome, poate fi dificil de a spune diferenta dintre ele pe baza simptomelor. Testele speciale care, de obicei, trebuie facute in primele zile de boala pot spune daca o persoana are gripa.

            <br>
            <br>
        
            <h4>Cand trebuie sa mergeti la medic daca aveti simptome de gripa sau de raceala?</h4>
            &nbsp; &nbsp;Daca aveti deja simptome de gripa sau de raceala este important sa apelati la medicul dumneavoastra daca aveti si oricare dintre urmatoarele simptome severe:
            <br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;-febra persistenta: febra care dureaza mai mult de trei ziile poate fi un semn al unei alte infectii bacteriene care trebuie tratata.
            <br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;-inghitire dureroasa: desi o durere in gat cauzata de o raceala sau gripa poate provoca un disconfort usor, durerea severa poate insemna strep, ceea ce necesita un tratament de catre medic.
            <br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;-tuse persistenta: cand tusea nu dispare dupa doua sau trei saptamani ar putea fi bronsita, care poate avea nevoie de un antibiotic. Scurgerea postnazala sau sinuzita poate duce, de asemenea, la o tuse persistenta. In plus, astmul este o alta cauza a tusei persistente.
            <br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;-congestie persistenta si dureri de cap: cand racelile si alergiile provoaca congestionarea si blocarea pasajelor sinusale, acestea pot duce la o infectie a sinusurilor. Daca aveti dureri in jurul ochilor si fetei cu secretii nazale groase dupa o saptamana, este posibil sa aveti o infectie bacteriana si, eventual, sa aveti nevoie de un antibiotic. Majoritatea infectiilor sinusale nu au insa nevoie de un antibiotic.

            <br>
            <br>
            &nbsp; &nbsp;In unele cazuri, poate fi necesar sa obtineti imediat asistenta medicala de urgenta.

            <br>
            <br>
            &nbsp; &nbsp;La adulti, semnele unei crize includ:
            <br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;-durere severa in piept
            <br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;-dureri de cap severe
            <br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;-probleme de respiratie
            <br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;-ameteala
            <br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;-confuzie
            <br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;-varsaturi persistente

            
        </p>
    </div>
</div>