<%- contentFor('continut')%>

    <div class="content">
        <h1>Bine ati venit la HealthCare!</h1>
        <br>
        <p>Completeaza chestionarul pentru a afla starea ta de sanatate. </p>
        <div>
            <button type="button"><a href="/extragere_date"><span></span>Completeaza chestionarul</a></button>
            <button type="button"><a href="/articole"><span></span>Citeste articolele</a></button>
        </div>
    </div>
    