<!DOCTYPE html>
<html lang="ro">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyA-1AqZ2sViXeRjk7bAWyp7KiRzPj5XKQo"></script>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>

                </header>

                <nav>
                    <div class="navbar">
        
                        <ul>
                            <li><a href="/index">Acasa</a></li>
                            <li><a href="/despre">Despre</a></li>
                            <li><a href="/extragere_date">Chestionar</a></li>
                            <li><a href="/articole">Articole</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>

                </nav>

                <main>
                    <%-continut%>
                </main>
                </div> 
        <footer>
            <hr>
            <p>&copy; HealthCare</p>
            <hr>
        </footer>
        </div>
    </body>
</html>