<%- contentFor('continut')%>

<div class="article">

    
    <img src="imagini/seama.jpg" alt="" class="post_image">
    <div class="text">
        
        <h2 style="text-decoration: none; color: white;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Raceala, gripa sau coronavirus?</h2>
        
        <p>
            <br>&nbsp; &nbsp;In aceasta perioada, este foarte dificil sa faci diferenta intre principalele 3 amenintari legate de sanatatea ta, toate la fel de contagioase: raceala, gripa si infectia cu noul coronavirus. Cu toate acestea, exista cateva diferente esentiale, care iti arata ce ttip de infectie poti avea.
            Raceala, gripa si infectia cu noul coronavirus au simptome similare, de aceea devine uneori ficil sa faci diferenta intre ele. Dar diferentele exista, important este ca tu sa reusesti sa monitorizezi foarte bine evolutia simptomelor pentru a sti exact ce tip de afectiune ai contactat.

            <br>
            <br>
            <h4>Raceala</h4>
            &nbsp; &nbsp;&nbsp; &nbsp;Raceala debuteaza treptat, la 1-3 zile de la contactul cu virusul. Primele simptome pe care le poti resimti sunt oboseala, durere in gat si congestie nazala. Stranutul si tusea sunt si ele prezente, mai putin febra, deloc caracteristica unei raceli. De altfel, lipsa febrei este un prim simptom care poate face diferenta si te poate ajuta sa afli ce ai, inainte de a contacta medicul de familie. 
            <br>&nbsp; &nbsp;&nbsp; &nbsp;Simptomele racelii dispar la interval de 7 zile de la prima manifestare. Raceala este la fel de contagioasa ca gripa, de aceea este foarte important ca daca ai racit, sa ramai acasa, pentru a evita infectarea altor persoane. Mentinerea unei igiene corespunzatoare, odihna suficienta si respectarea tratamentului impus de medicul specialist sunt cele mai bune solutii pentru a trece peste aceasta afectiune.
            <br>
            <br>
            <h4>Gripa</h4>
            &nbsp; &nbsp;&nbsp; &nbsp;Gripa este o afectiune incredibil de contagioasa, produsa de doua tipuri de virusuri: virusul gripal A si virusul gripal B. Aceasta se manifesta preponderent in sezonul rece, cand apar epidemii de gripa, datorita raspandirii comunitare exponentiale.
            <br>&nbsp; &nbsp;&nbsp; &nbsp; Gripa se instaleaza brusc ca simptome, aceasta fiind diferenta intre raceala si gripa. Apar dureri musculare, febra, frisoane, lacrimarea ochilor, tuse seaca, durere in gat si congestie nazala. Uneori, aceste simptome vin insotite si de varsaturi.
            In momentul in care apar primele simptome specifice gripei, pacinetul trebuie sa stea acasa si sa contacteze medicul de familie, pentru a i se recomanda un tratament corespunzator. Atata vreme cat pacientul stranuta si tuseste, este recomandat sa ramana acasa, izolat.

            <br>&nbsp; &nbsp;&nbsp; &nbsp;Netratata sau netratata corespunzator, gripa poate duce la diferite complicatii respiratorii, unele dintre ele foarte grave, mai ales pentru categoriile principale de risc: copii, batrani si pacienti cu afectiuni medicale pre-existente. 
            <br>
            <br>
            <h4>Infectia cu noul coronavirus</h4>
            &nbsp; &nbsp;&nbsp; &nbsp;In contextul pandemiei COVID-19, infectia cu noul coronavirus poate fi usor confundata cu gripa sezoniera. Simptomele sunt incredibil de asemanatoare, diferenta fiind faptul ca gripa sezoniera este produsa de virusul gripal A sau virusul gripal B, iar COVID-19 este produsa de infectia cu SARS CoV-2. 
            <br>&nbsp; &nbsp;&nbsp; &nbsp;Infectie respiratorie acuta, infectia cu noul coronavirus are tot un debut brusc al simptomelor, evolutia fiind extrem de rapida. Tusea seaca, durerile in gat, febra si frisoanele sunt printre primele simptome manifestate, alaturi de diaree si varsaturi, in unele cazuri. Dificultatea la respiratie apare brusc, odata cu eventualele dureri in piept.
            De aceea, atunci cand manifesti simptome de gripa, exista o singura solutie pentru a afla daca afectiunea de care suferi este gripa sezoniera sau COVID-19. Aceasta este testarea RT PCR.  
            RT PCR este o testare care infirma sau confirma infectarea cu SARS CoV-2, evidentiind virusul prin amplificarea materialului genetic viral. Testarea se realizeaza prin exudat nazal, faringian sau nazofaringian.
        </p>
    </div>
</div>